<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creatorbluer.cbmv.mapper.CollectMapper">

  <!-- 定义查询中字段与对象属性的映射关系 -->
  <resultMap id="collectMap" type="Collect">
    <id column="collect_id" jdbcType="INTEGER" property="collectId" />
    <result column="cust_id" jdbcType="INTEGER" property="custId" />
    <result column="video_id" jdbcType="INTEGER" property="video.videoId" />
    <result column="video_name" property="video.videoName"/>
    <result column="video_img" property="video.videoImg"/>
    <result column="video_description" property="video.videoDis"/>
    <result column="collect_time" property="collectTime"/>
  </resultMap>
  
  <!-- 查询所有 -->
  <select id="selectByAll" resultMap="collectMap" parameterType="Collect">
  		SELECT c.collect_id,cust_id, c.video_id,video_name,video_teacher,type_id,type_name,play_num,like_num
  		,collect_num,share_num,video_img,video_description
		FROM t_collect c   LEFT JOIN t_video v ON v.video_id = c.video_id 
		WHERE c.cust_id = #{custId}
  </select>
  
  <!-- 根据id查询 -->
  <select id="selectById" resultMap="collectMap" parameterType="int">
  	select collect_id,cust_id,video_id  from t_collect
  	<where>
  		collect_id=#{value}
  	</where>
  </select>
  
  <!-- 新增 -->
  <insert id="seav" useGeneratedKeys="true" keyProperty="collectId" parameterType="Collect">
  		insert into t_collect(cust_id,video_id,collect_time)
  		values(#{custId},#{video.videoId},#{collectTime})
  </insert>
  
  <!-- 删除 -->
  <delete id="delete" parameterType="list">
  delete from t_collect where collect_id in
  <foreach collection="array" open="(" item="id" separator="," close=")">
  	#{id}
  </foreach>
 
  </delete>
  
  
  <!-- 判断收藏 -->
	<select id="selectByCollect" resultType="integer" parameterType="collect">
		select count(*)
		from t_collect
		<where>
			and cust_id = #{custId}
			and	video_id = #{video.videoId}
		</where>
	
	</select>
  <!-- 查询一个月里每一天的收藏人数 -->
  <select id="selectByCollectDay" parameterType="String" resultType="Map">
		SELECT COUNT(*) sum ,DATE_FORMAT(collect_time,'%Y-%m-%d') time
		FROM t_collect
		<where>
			<if test="value != null">
				 collect_time  BETWEEN #{value} AND   NOW()
			</if>
		</where>
		GROUP BY DATE_FORMAT(collect_time,'%Y-%m-%d')
		ORDER BY collect_time ASC
	</select>
  
  <!-- 根据视频id查询视频有没有被收藏 -->
  <select id="selectByCollVideoId" resultType="integer" parameterType="integer">
  	select count(*)
  	from t_collect
  	<where>
  		video_id = #{value}
  	</where>
  </select>
</mapper>